*,
*:befor. *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url(../img/firs_layer.png);
    color: #ffffff;
    font-family: roboto_condensedregular;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    /* font-family: roboto; */
  }
  main {
    flex-grow: 1;
  }
  main,
  header,
  footer {
    width: 100%;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
/* розділення шаблона від тіла программи ======== */
/* ============================================= */
/* HEADER====================== */
.conteiner {
    width: 1200px;
    margin: 0 auto;
}
.header-top {
display: flex;
justify-content: space-between;
max-height: 100vh;
}
.header-btn {
    padding: 20px 0 0 20px;
    font-size: 3em;
    cursor: pointer;
    transition: all .5s;
}
.header-btn:hover {
    color: #E60023;
}
.logo {
    padding: 20px 20px 0 0;
}
/* menu */
.menu {
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    transition: all 0.5s;
    z-index: 2;
  }
  /* .manu.active - технічний елемент для JS: при натисканні на піктограму меню, виовдить його в видиму зону */
  .menu.active {
    left: 100%;
  }
  .conteiner-menu {
    position: relative;
  }
  .close-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 31px;
    cursor: pointer;
  }
  .close-btn::after,
  .close-btn::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: #ffffff;
    transform-origin: left;
  }
  .close-btn::after {
    transform: rotate(45deg);
  }
  .close-btn::before {
    transform: rotate(-45deg);
    bottom: -1px;
  }
  .menu__list {
    height: 100vh;
    display: flex;
    text-align: left;
  }
  .menu__list ul {
    list-style: none;
    margin-top: 5em;
  }
  .menu__list a {
    display: inline-block;
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
    padding: 30px 25px 14px 0;
    border-bottom: 3px solid #770302;
    max-width: 368px;
    width: 100%;
  }
  .menu__list a:hover {
    border-color: #ffffff;
    color: #770302;
    transition: 0.6s linear;
    transform: scale(1.1);
    margin-left: 37px;
  }
/* центральний напис svg */
#svgContainer {
    width: 50em;
}
/* slick slider =============================== */
.slider__item {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .slider .slick-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0b0b0b;
    border: none;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    outline: 0;
  }
  .slider .slick-dots .slick-active button {
    background-color: #ffffff;
  }
  .slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  .slider .slick-dots {
    margin: -55px auto 0;
    position: relative;
    z-index: 3;
    max-width: 1230px;
    padding: 0 15px;
  }
/* MAIN======================= */
.main {
    height: 100vh;
}





/* footer***************************************** */

.footer {
    height: 300px;
    width: 100%;
}

    /*========== social ===========*/
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.basement-social {
    display: flex;    
    justify-content: flex-end;
    width: 100%;
    text-align: right;
    margin: 190px 125px 0 0;
    max-height: 80px;
    font-size: 2em;
}
ul.submenu {
  border-radius: 5px;
  display: inline-block;
  padding: 4px 10px;
  margin: 0;
  overflow: hidden;
}
ul.submenu li {
  display: inline-block;
}
ul.submenu li a i.fa {
  /* padding: 10px; */
  display: inline-block;
  border: 1px solid transparent;
  color: #ccc;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  position: relative;
  z-index: 2;
}
ul.submenu li a i.fa::after {
  content: "";
  height: 0%;
  width: 0%;
  position: absolute;
  top: -500%;
  bottom: -500%;
  left: -500%;
  right: -500%;
  margin: auto;
  border: 0px solid transparent;
  border-radius: 200px;
  opacity: 0;
  z-index: -1;
  transition: all ease 0.5s;
}
ul.submenu li a:hover i.fa::before {
  color: #fff;
}
ul.submenu li a:hover i.fa-facebook::after {
  height: 200%;
  width: 200%;
  background-color: #3b5998;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu li a:hover i.fa-twitter::after {
  height: 200%;
  width: 200%;
  background-color: #1dcaff;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu li a:hover i.fa-pinterest::after {
  height: 200%;
  width: 200%;
  background-color: #E60023;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu li a:hover i.fa-instagram::after {
  height: 200%;
  width: 200%;
  background-color: #8a3ab9;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu li a:hover i.fa-youtube::after {
  height: 200%;
  width: 200%;
  background-color: #e62117;
  border-radius: 0px;
  opacity: 1;
}
/*************************************************************/
/* END FOOTER                                                    */
/*************************************************************/
@media screen and (max-width: 1320px) {
    .conteiner-all_section-chenger {
       flex-wrap: wrap; 
    }
    .conteiner-all_section-chenger img, .forth_section-pillar img {
        width: 20px;
        height: 150px;
    }
}

/*
@media screen and (max-width: 1200px) {
    .conteiner-all_section-chenger {
       flex-wrap: wrap; 
    }
    .conteiner-all_section-chenger img, .forth_section-pillar img {
        width: 50px;
        height: 150px;
    }
}
@media screen and (max-width: 968px) {
    .conteiner-all_section-chenger {
       flex-wrap: wrap; 
    }
    .conteiner-all_section-chenger img, .forth_section-pillar img {
        width: 50px;
        height: 156px;
    }
    .text_all_section-chenger-forth h2, .text_all_section-chenger-forth p{
        padding-left: 100px;
    }
}
/*
@media screen and (max-width: 420px) {
   .conteiner-all_section-chenger img, .forth_section-pillar img {
        flex-wrap: wrap;
        width: 55px;
        height: 78px;
    }
}
